.cf-header {
  background-color: #4981df;
  position: relative;
  padding: 24px;
  color: white;
  height: 113px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

.cf-header-instruction {
  font-size: 14px;
}

.cf-header strong {
  font-size: 28px;
}